---
// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ title }</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <style global lang="scss">
      @use '../style/global';
      
      :root {
          --color-light: #F3F4F6;
      }
      @media (prefers-color-scheme: dark) {
        :root {
            --color-light: #1F2937;
        }
      }
    </style>
    <style lang="scss">

      header {

        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: min(100%, 68ch);

        > div {
          font-size: clamp(2rem, -0.4742rem + 6.1856vw, 2.75rem);
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        h1 {
            font-size: 1em;
            font-weight: 500;
        }

        img {
            width: 2em;
            height: 2.667em;
        }
      }  

      h2 {
          font-weight: 500;
          font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
      }

    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Welcome to <a href="https://astro.build/">Astro</a> with <a href="https://hgrid.io">hgrid</a></h1>
            </div>
        </header>

        <Tour />

    </main>
</body>
</html>
